@import "tailwindcss";

@theme {
  --color-soft-white: #f8f9fa;
  --color-deep-black: #0a0a0a;
  --color-card-dark: #161616;
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    font-family: var(--font-plus-jakarta), ui-sans-serif, system-ui;
    @apply bg-soft-white text-slate-900 transition-colors duration-300;
  }
}

.dark body {
  @apply bg-deep-black text-zinc-300;
}