@import "tailwindcss";

@theme {
  --color-soft-white: #f8f9fa;
  --color-deep-black: #0a0a0a;
  --color-card-dark: #161616;
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    font-family: var(--font-plus-jakarta), ui-sans-serif, system-ui;
    @apply transition-colors duration-300;
    
    background-color: var(--color-soft-white);
    color: #0f172a;
  }
}

.dark body {
  background-color: var(--color-deep-black) !important;
  color: #d4d4d8;
}